<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="SV" value="30" />
  <add key="MV" value="20" />
  <add key="LV" value="10" />
</appSettings>
</configuration>